body {
  background: #e3a70e;
  font-family: "McLaren", cursive;
}

#midBox {
  width: 35%;
  height: 50%;
  margin: 5% auto;
  text-align: center;
  border: solid black;
  border-radius: 4px;
  background: #99cccc;
}

#tangerine {
  margin-top: 20px;
  height: 270px;
}
